.App {
  text-align: center;

  
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #282c34;

  // border-left: 2px solid black;
  // border-right: 2px solid black;
  // width: 80%;
}

.content-div{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.network-div{
  display: flex;
  justify-content: center;

  // overflow-y: hidden;
  // overflow-x: auto;
  // // white-space: nowrap;

  // padding-right: 120px;
  // padding-left: 120px
  // transform: rotate(-90deg);
  // transform-origin: right top;
}

.network-div > div {

  // transform: rotate(90deg);
  // transform-origin: right bottom;
}

.link-div{
  width: 20px;
  background-color: yellow;
  margin: 1px;
}

.menu-div{
  width: 80%;

  // sticky
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  

  padding: 20px;
}

.layer-div {
  border: 3px solid #282c34;
  // border-color: ;
  margin: 1px;
  width: 300px;
  height: 400px;
}

.inspectedLayer-div {
  background-color: #282c34;
  width: 50px;
  height: 50px;
}